@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

/******  Variables *********/

:root {
  --theme-blue: #033B80;
  --theme-night-blue: #02234E;
  --theme-black: #272727;
  --theme-charcoal: #323232;
  --nav-height: 60px;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
}


/******  General Styles ********/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--theme-charcoal);
}
h1, h2, h3 {
  font-family: var(--font-heading);
}
h1 {
  font-size: 42px;
}
h2 {
  padding-top: 10px;
  font-size: 20px;
  color: var(--theme-blue);
}
h3 {
  padding-top: 20px;
  font-size: 16px;
  color: var(--theme-night-blue);
}
p {
  font-family: var(--font-body);
  line-height: 1.5em;
}
li {
  line-height: 1.5em;
}


.container-main {
  height: 100%;
}

.content-container {
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 40px 0 40px 0;
}

.content-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.content-section .blog img {
  width:70%;
}

.icon {
  padding-right: 20px;
}

/******  Navigation Style ********/

.nav {
  height: var(--nav-height);
  box-sizing: border-box;
  display: flex;
  position: sticky;
  box-shadow: 0 2px 2px -2px var(--theme-charcoal);
  justify-content: center;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  font-family: var(--font-heading);
  background-color: #FFFFFF;
}
.nav-active {
  color: var(--theme-blue);
}
.nav ul, a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
.nav li {
  display: inline;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.nav a:hover {
  color: var(--theme-blue);
}


/****** Homepage Style ********/

.hero-image-main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  background-color: var(--theme-black);
  background-size: cover;
}


/****** Headers ********/

.header {
  height: max-content;
  width: 100%;
  text-align: center;
  color: var(--theme-black);
}


/***** Tile Styles ********/

.tiles {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  overflow-y: visible;
}

.tile {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tile:hover {
  background-blend-mode: overlay;
}

.tile-text {
  height: auto;
  margin: 20px;
  flex: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);

  /** Keep this for double border effect ***/
  background-clip: content-box;
  border: solid rgba(255, 255, 255, 0.7) 4px;
  padding: 10px;
  font-weight: 700;
}

.tile-text h2 {
  margin: 0;
  padding: 10px;
  /* font: bold 18px/25px "Open Sans", Sans-Serif; */
  color: var(--theme-charcoal);
  line-height: 25px;
}


/****** Country Style ********/

.country-hero {
  display: flex;
  width: 100%;
  height: 85vh;
  min-height: 500px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: lighten; */
  opacity: 0.8;
}

.country-hero-text {
  color: #FFFFFF;
  font-size: 72px;
  line-height: 3em;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  /* background-color: var(--theme-charcoal); */
  font-family: var(--font-heading);
  text-shadow: 2px 1px 6px var(--theme-charcoal);
}

.country-content {
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 40px 0 40px 0;
}


/****** Trip Style ********/

.trip-hero {
  display: flex;
  width: 100%;
  height: 85vh;
  min-height: 500px;
  margin-bottom: 20px;

}
.trip-hero-text {
  flex: 1;
  padding: 20px 30px 20px 30px;
  color: #FFFFFF;
  background-color: var(--theme-black);
  font-family: var(--font-heading);
}

.hero-image {
  flex: 3;
  background-size: cover;
  background-position: center;
}

.content-grid {
  display: flex;
}

.col-left {
  flex: 1;
  width: 50%;
  margin-right: 20px;
  box-sizing: border-box;
}

.col-right {
  flex: 2;
  width: 50%;
  box-sizing: border-box;
}


/***** Carousel Style ********/

.BrainhubCarousel {
  width: 100%;
}

.BrainhubCarousel img{
  min-height: 100%
}

.BrainhubCarouselItem {
  overflow: hidden;
}

.thumbnail{
  height: 20px;
}

.carousel-arrow-left {
  color: var(--theme-charcoal);
}


.trip-content-details {
  padding: 40px 20px 40px 20px;
  width: 70%;
}

.trip-content-details img {
  width: 100%;
}




.map {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  padding-bottom: var(--nav-height);
  box-sizing: border-box;
  border-style: none;
}

.map > iframe {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  height: 10vh;
  display: flex;
}
