body {
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul, a {
  list-style-type: none;
  text-decoration: none;
}
nav li {
  display: inline;
  padding-right: 10px;
  margin: 0;
}
nav {
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
}
