@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

/******  Variables *********/

:root {
  --theme-blue: #033B80;
  /* --theme-light-blue: #4486B8; */
  --theme-light-blue: #50C4FB;
  --theme-night-blue: #02234E;
  --theme-light-grey: #DDDDDD;
  --theme-dark-grey: #666666;
  --theme-charcoal: #323232;
  --theme-black: #272727;
  --nav-height: 80px;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
}


/******  General Styles ********/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--theme-charcoal);
  background-color: #fcfcfc;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  margin: 0;
}

h1 {
  font-size: 42px;
  padding: 30px 10px 30px 0;
}
h1.trip-title {
  padding: 0;

}

h2 {
  padding-top: 10px;
  font-size: 30px;
  color: var(--theme-blue);
}

h3 {
  padding-top: 20px;
  font-size: 16px;
  color: var(--theme-night-blue);
}

p {
  font-family: var(--font-body);
  line-height: 1.5em;
}
p.hero-text {
  color: var(--theme-light-grey);
  margin-top: 30px;
  margin-bottom: 30px;
}
p.video-button {
  padding: 20px;
  text-align: center;
  color: var(--theme-charcoal);
  background-color: var(--theme-light-blue);
}

ul {
  padding: 0;
  padding-left: 20px;
}
ul.inline-light-blue {
  padding: 0;
  color: var(--theme-light-blue);
  list-style: none;
}

li {
  line-height: 1.5em;
  padding-bottom: 10px;
}
li.hero-inline-list_item {
  display: inline;
}
li.hero-inline-list_item:after {
  content: "   |   ";
}
li.hero-inline-list_item:last-child:after {
  content: "";
}


a {
  text-decoration: none;
  text-underline-position: under;
}
a:link, a:visited {
  color: inherit;
}
a:hover {
  color: var(--theme-blue);
}
a:active!important {
  color: var(--theme-blue);
  text-decoration: underline;
}
a.country-link {
  text-decoration: underline;
}

hr.style-1 {
    border: 0;
    height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.line {
  width: 100%;
  flex: 1;
  border-bottom: 1px;
  border-width: thin;
}



/***** Base Layout Styles *******/

.content-container {
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 0;
}

.content-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.content-section .blog img {
  width:70%;
}

.content-section-header {
  display: flex;
  width: 100%;
}

.content-section-header__text {
  flex: 1
}

.icon {
  padding-right: 20px;
}

.icon-after {
  padding-left: 10px;
}



/******  Navigation Style ********/

.nav {
  height: var(--nav-height);
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading);
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px -2px var(--theme-charcoal);
  color: var(--theme-dark-grey);
}
.nav-active {
  color: var(--theme-blue) !important;
}
.nav ul a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
.nav li {
  display: inline;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.nav a:hover {
  color: var(--theme-blue);
}

#logo {

  position: absolute;
  left: 40px;
  top: 20px;
  margin-top: 10px;
  font-weight: 800;
  font-size: 20px;
}

#logo .icon {
  color: var(--theme-blue);
}


/****** Homepage Style ********/

.hero-image-main {
  width: 100%;
  position: absolute;
  top: var(--nav-height);
  left: 0;
  bottom: 0;
  text-align: center;
  background-size: cover;
}
.title {
  position: relative;
  top: 20%;
  font-family: var(--font-heading);
  font-size: 130px;
  font-weight: 100;
  text-shadow: 4px 7px 6px grey;
  color: var(--theme-charcoal);
}


/***** Tile Styles ********/

.tiles {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow-y: visible;
}

.tile {
  width: 100%;
  height: 25vh;
  min-height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tile:hover {
  background-blend-mode: overlay;
}

.filtered {
  -webkit-filter: blur(5px);
  /* -webkit-filter: grayscale(1); */
}

.tile-text {
  height: auto;
  margin: 20px;
  flex: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);

  /** Keep this for double border effect ***/
  background-clip: content-box;
  border: solid rgba(255, 255, 255, 0.7) 2px;
  padding: 10px;

}

.tile-text h2 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  color: var(--theme-charcoal);
  line-height: 25px;
}


/****** Country Style ********/

.country-hero {
  display: flex;
  width: 100%;
  height: 85vh;
  min-height: 500px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: lighten; */
  opacity: 0.8;
}

.country-hero-text {
  color: #FFFFFF;
  font-size: 72px;
  line-height: 3em;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  /* background-color: var(--theme-charcoal); */
  font-family: var(--font-heading);
  text-shadow: 2px 2px 3px black;
}

.country-content {
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 40px 0 40px 0;
}


/****** Trip Style ********/

.trip-hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 85vh;
  min-height: 500px;
  margin-bottom: 20px;

}
.trip-hero-text {
  flex: 1;
  padding: 50px 40px 30px 40px;
  color: #FFFFFF;
  background-color: var(--theme-black);
  font-family: var(--font-heading);
}
/* .trip-hero-text__title {
  height: 150px;
  display: flex;
  margin: -20px -30px 0 -30px;
  padding-left: 30px;
  padding-top: 35px;
  background-color: black;
} */

.country-link {
  color: inherit;
}

.hero-image {
  flex: 3;
  background-size: cover;
  background-position: center;
}

.content-grid {
  display: flex;
}

.col-left {
  flex: 1;
  width: 50%;
  margin-right: 20px;
  box-sizing: border-box;
}

.col-right {
  flex: 2;
  width: 50%;
  height: 100%;
  margin-left: 50px;
  box-sizing: border-box;
  background-color: #666666;
  background-color: var(--theme-charcoal);
}


/***** Carousel Style ********/

.BrainhubCarousel {
  width: 100%;
}

.BrainhubCarousel img{
  min-height: 100%
}

.BrainhubCarouselItem {
  overflow: hidden;
}

.thumbnail{
  height: 30px;
}

.carousel-arrow {
  /* color: var(--theme-charcoal); */
  height: 400px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  background-color: var(--theme-charcoal);
}


.trip-content-details {
  padding: 40px 20px 40px 20px;
  width: 70%;
}

.trip-content-details img {
  width: 100%;
}




.map {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  padding-bottom: var(--nav-height);
  box-sizing: border-box;
  border-style: none;
}

.map > iframe {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#footer {
  position: sticky;
  bottom: 0;
  display: flex;
  padding-bottom: 20px;
  margin-left: 40px;
}
